<a href="https://colab.research.google.com/github/choi0314888/oz_homework/blob/main/4%EC%9D%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 생성 초급

INSERT INTO customers (name, address) VALUES ('choi','Bunpyeong-dong');
INSERT INTO products (name, price) VALUES ('Toy Car', 20);
INSERT INTO employees (firstName, lastName) VALUES ('first in', 'last out');
INSERT INTO offices (city, phone) VALUES ('cheongju', '010-1234-5678');
INSERT INTO orders (orderDate, customerID) VALUES ('2025-05-07', 123);
INSERT INTO orderdetails (orderID, productID, quantityOrdered, priceEach) VALUES (1, 1, 2, 20.00);
INSERT INTO payments (customerID, amount, paymentDate) VALUES (1, 200.00, '2025-05-07');
INSERT INTO productlines (productLine, textDescription) VALUES ('toy', 'Various Toy cars models');
INSERT INTO customers (name, address, city) VALUES ('Kim', 'Yongam-dong', 'cheongju');
INSERT INTO products (name, price, productLine) VALUES ('Toy Gun', 15, 'toy');

In [ ]:
# 읽기 초급

SELECT * FROM customers;
SELECT name, price FROM products;
SELECT firstName, lastName, Jobrank FROM employees;
SELECT city, address, phone FROM offices;
SELECT * FROM orders ORDER BY orderDate DESC LIMIT 10;
SELECT * FROM orderdetails WHERE orderID = 1;
SELECT * FROM payments WHERE customerID = 123;
SELECT productLine, textdescription FROM productlines;
SELECT * FROM customers WHERE city = 'Seoul';
SELECT * FROM products WHERE price BETWEEN 15 AND 65;

In [ ]:
#갱신 초급

UPDATE customers SET address = 'Kang-nam' WHERE customerID = 123;
UPDATE products SET price = 29.99 WHERE productID = 1;
UPDATE employees SET Jobrank = 'Manager' WHERE employeeID = 1;
UPDATE offices SET phone = '010-2345-6789' WHERE officeID = 1;
UPDATE orders SET status = 'Shipped' WHERE orderID = 1;
UPDATE payments SET amount = 200.00 WHERE customerID = 1 AND paymentDate = '2025-05-08';
UPDATE productlines SET textDescription = 'Updated description for toy products' WHERE productLine = 'toy';
UPDATE customers SET email = 'choi@example.com' WHERE name = 'choi';
UPDATE products SET price = price * 1.1;

In [ ]:
DELETE FROM customers WHERE customerID = 1;
DELETE FROM products WHERE productID = 1;
DELETE FROM employees WHERE employeeID = 1;
DELETE FROM offices WHERE officeID = 1;
DELETE FROM orders WHERE orderID = 1;
DELETE FROM orderdetails WHERE orderID = 1;
DELETE FROM payments WHERE customerID = 1;
DELETE FROM productlines WHERE productLine = 'toy';
DELETE FROM customers WHERE city = 'Seoul';
DELETE FROM products WHERE productLine = 'Classic Cars';